<h1>Vous n'avez plus de candidat</h1>
<hr>
<p>Bonjour {{ name }} de l'entreprise {{ enterprise }}<br/>
    Le candidat que vous aviez choisi pour la mission {{ mission}} s'est désinscrit de la mission.<br/>
</p>
<hr>
Vous pouvez en choisir un nouveau <a href="{{ url }}">ici</a>
