<h1>Vérification de votre email</h1>
<hr>
<p>Bonjour et bienvenu {{ name }} <br/>
    Votre compte darkmalt à été crée pour l'entreprise {{ enterprise }}<br/>
    Afin de finaliser votre email nous vous invitons à cliquer sur le lien ci-dessous pour définir votre mot de passe</p>
<hr>
<a href="{{ url }}">Je défini mon mot de passe</a>