<h1>Vous avez été certifié</h1>
<hr>
<p>Bonjour {{ name }} votre entreprise {{ enterprise }} a été certifié par un administrateur<br/>
    Vous pour maintenant profiter pleinement de darkmalt.<br/>
</p>
