<h1>Changement d'email</h1>
<hr>
<p>Bonjour {{ name }}<br/>
    Une de demande de changement d'email à été faite sur votre compte Darkmalt.<br/>
    Votre nouvelle adresse email sera {{ newEmail }}<br/>
    Si vous n'êtes pas à l'origine de cette demande supprimez ce mail, sinon, <br/>
    Cliquez sur le lien ci-dessous pour valider la demande.
</p>
<hr>
<a href="{{ url }}">Je change mon email</a>