<h1>Vous avez été choisi</h1>
<hr>
<p>Bonjour {{ name }}<br/>
    Félicitation, l'entreprise {{ enterprise }} à décidé de vous choisir pour la mission {{ mission }}<br/>
</p>
<hr>
Vous pouvez la consulter en cliquant <a href="{{ url }}">ici</a>
