<h1>Vérification de votre email</h1>
<hr>
<p>Bonjour {{ name }}<br/>
    Vous pouvez valider votre email en cliquant sur le lien ci-dessous.<br/>
<hr>
<a href="{{ url }}">Vérifier l'adresse e-mail</a>