<h1>Récupération du mot de passe</h1>
<hr>
<p>Vous avez perdu votre mot de passe? <br/>
    Ne vous en faite pas {{ name }}, <br/>
    vous allez pouvoir choisir un nouveau mot de passe en cliquant sur le liens ci dessous</p>
<hr>
<a href="{{ url }}">Nouveau mot de passe</a>