<h1>Votre profil a été repéré</h1>
<hr>
<p>Bonjour {{ name }}<br/>
    L'entreprise {{ enterprise }} est intérressé par votre profile pour sa mission {{ mission }}<br/>
</p>
<hr>
Vous pouvez la consulter en cliquant <a href="{{ url }}">ici</a>
