<h1>Vérification de votre email</h1>
<hr>
<p>Bonjour et bienvenu {{ name }} <br/>
    Merci d'avoir crée votre compte! <br/>
    Afin de valider votre email nous vous invitons à cliquer sur le lien ci-dessous</p>
<hr>
<a href="{{ url }}">Vérifier l'adresse e-mail</a>