<h1>Vous n'etes plus affecter</h1>
<hr>
<p>Bonjour {{ name }}<br/>
    Malheureusement l'entreprise {{ enterprise }} à décidé de vous retirer de la mission {{ mission }}<br/>
    N'hésitez pas à vous inscrire à d'autres missions.</p>
